body {
    background: url("Images/Background.jpg");
    background-size: cover;
    height: 100%;
    background-repeat: no-repeat;
  }
  body,
  html {
    height: 100%;
    margin: 0;
  }
  .card {
    margin: 10%;
  }
  
  .row, .container-fluid {
      height: 100%;
  }
  
  .btn {
      border-radius: 20px;
      width: 60%;
  }
  